---
---
@import "minima";


.home {
    &--about {
        display: flex;
        margin-bottom: 2rem;
        
        &__avatar {
            // position: absolute;
            // left: 4rem;
            width: 200px;
            min-width: 200px;
            margin-right: 2rem;

            img {
                border-radius: 50%;
            }
        }

        &__desc {
            margin: 0 2rem 0 0;
        }
    }

    &--portfolio {
        margin: 2rem 0;
    }
}